#page-wrapper {
    width: 100%;
    max-width: 500px;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(175, 162, 162);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#form-group1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#registerPerson {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-group2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#submitButton {
    background-color: #909294;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;

}

#submitButton:hover {
    transform: translateY(+1px);
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.3);
}

#main-container {

    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px black;
    backdrop-filter: blur(10px);
}

#form {
    border: 1px solic black
}